<html lang="en" ng-app="feelTheBurn">
<head>
    <title>Feel The Burn</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="css/main.css">
    <meta name="viewport" content="initial-scale=1" />
</head>
    
<body class="md-padding"   ng-controller="MainController" >
    <div layout="row" layout-sm="column" >
        <div layout="column">
                
            <md-card class="md-padding" >
                <img  id="fire" src="fire.png"  >
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Feel The Burn</span>
                            </br>
                        <span class="md-subhead">Enter your name and weight with no spaces to determine your workout.</span>
                    </md-card-title-text>
                </md-card-title>

                <md-input-container>
                    <label>Name</label>
                    <input ng-model="user.name">
                </md-input-container>

                <md-input-container>
                    <label>Weight</label>
                    <input ng-model="user.weight">
                </md-input-container>

                 <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                     <md-button class="md-primary" ng-click="calculateWorkout()">Submit</md-button>
                     <md-button ng-click="clearTable()">Clear</md-button>
                </section>
            </md-card>
        
        </div>
        <div layout="column">
            
            <md-card class="md-padding">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Total calories burned: <b>{{user.totalCal}}</b></span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>

            <md-card class="md-padding">
                <table id="myTableData" cellpadding="10">
                    <tr>
                        <th>Letter</th>
                        <th>Exercise</th>
                        <th>Reps</th>
                        <th>Calories Burned</th>
                    </tr>
                 </table>
             </md-card>
            
    </div>
</div>
    
    
    <!-- Angular Material Dependencies -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc7/angular-material.min.js"></script>

    <script src="js/main.js"></script>
    <script src="js/materialConfig.js"></script>
    <script src="js/controllers/mainController.js"></script>
    
</body>
</html>
